button{
    color: rgb(17, 4, 73);
    background-color: goldenrod;
}
#line{
    color: rgb(88, 1, 37);
}
.number{
    color:darkred;
    font-size:x-large;
    font-weight: bold;
    float: left;
}
.topic{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}
.content{
    color: black;
    font-size: larger;
}
.para{
    color: rgb(24, 0, 92);
    font-size:medium;
}
.heading{
    color: rgb(24, 0, 92);
    font-size:x-large;
    font-weight: bold;
    
}
.outer{
    height: 15000px;
    width: 850px;
    background-color: linen;
    border: 3px solid;
    padding-left: 35px;
    padding-top: 5px;
}
.box{
    padding-left: 2px;
    padding-top: 1px;
    border: 1px solid;
}
.outer_box{
    height: 300px;
    width: 800px;
    background-color: wheat;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 1500px;
    border-color: rgb(150, 189, 92); 
    float: left;
}
.outer_inner{
    height: 30px;
    width: 10px;
    background-color: aliceblue(26, 201, 56);
    margin-left:67px;
    margin-top: 76px;
    margin-right: 50px;
    float: left;
}
.inner_box{
    height: 200px;
    width: 100px;
    background-color: aliceblue(26, 201, 56);
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    float: left;
}
img{
    margin-top: 20px;
    height: 120px;
    width: 80px;
}