button{
    color: rgb(17, 4, 73);
    background-color: goldenrod;
}
#line{
    color: rgb(88, 1, 37);
}
.number{
    color:darkred;
    font-size:x-large;
    font-weight: bold;
    float: left;
}
.topic{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}
.content{
    color: black;
    font-size: larger;
}
.para{
    color: rgb(24, 0, 92);
    font-size:medium;
}
.heading{
    color: rgb(24, 0, 92);
    font-size:x-large;
    font-weight: bold;
    
}
.outer{
    height: 15000px;
    width: 850px;
    background-color: linen;
    border: 3px solid;
    padding-left: 35px;
    padding-top: 5px;
}
.box{
    padding-left: 2px;
    padding-top: 1px;
   
}
.outer_box{
    height: 300px;
    width: 800px;
    background-color: wheat;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 1500px;
    border-color: rgb(150, 189, 92); 
    float: left;
}
.outer_inner{
    height: 30px;
    width: 10px;
    background-color: aliceblue(26, 201, 56);
    margin-left:67px;
    margin-top: 76px;
    margin-right: 50px;
    float: left;
}
.inner_box{
    height: 200px;
    width: 100px;
    background-color: aliceblue(26, 201, 56);
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    float: left;
}
img{
    margin-top: 20px;
    height: 120px;
    width: 80px;
}





.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: dodgerblue; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }